<div class="main-layout-container">
  <!-- Header-Bereich -->
  <app-header 
    [sideNavOpened]="sideNavOpened()" 
    (toggleSideNav)="toggleSideNav()">
  </app-header>
  
  <!-- Hauptbereich mit Seitennavigation -->
  <mat-sidenav-container class="sidenav-container">
    <!-- Seitennavigation -->
    <mat-sidenav 
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="sideNavOpened()"
      [disableClose]="!isHandset()"
      [fixedInViewport]="isHandset()"
      [fixedTopGap]="isHandset() ? 64 : 0"
      class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    
    <!-- Hauptinhalt -->
    <mat-sidenav-content class="content-container">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>